.cardItem {
  display: grid;
  grid-template-columns: 100px 1fr 0.15fr;
  padding: 10px 0;
  align-items: center;
}

.iconContainer {
  position: relative;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  position: absolute;
  top: 0;
  color: #6c727f;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.icon {
  font-size: 32px;
  padding: 8px;
  background: #bbb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  color: #fff;
}

.textContainer {
  display: flex;
  align-items: center;
}

.text {
  color: #6c727f;
  font-size: 18px;
  line-height: 21px;
}

.edit {
  color: #4e80ee;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
