.container {
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-family: var(--font-family-roboto);
  width: 100%;
  min-height: 100vh;

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  background-color: var(--color-base-white);
  padding: 16px;
  border-radius: 10px;
}

.title {
  font-size: var(--font-size-md);
  color: var(--color-primary);
  font-weight: 600;
}

.categories {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 0;
    /* flex-wrap: nowrap; */
    /* overflow: scroll; */
  }

  .categories {
    flex-direction: row;
    /* overflow: scroll; */
    height: 100%;
    width: 100%;
    flex: 1 0 auto;
    padding-bottom: 0;
  }

  .categories div {
    min-width: 100%;
  }
}
