.password {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  gap: 8px;
}

.view {
  position: absolute;
  right: 0;
  margin: 6px;
  display: flex;
  align-items: center;
  line-height: 0;
  padding: 6px;
  outline: none;
  font-size: var(--font-size-md);
  color: var(--color-secondary-muted);
  background-color: var(--color-base-transparent);
  border: 1px solid var(--color-base-transparent);
  border-radius: var(--border-radius-xs);
  cursor: pointer;
}

.view:focus {
  opacity: 1.1;
}

.view:hover {
  opacity: 0.9;
}
