* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

#__next{
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
