.section {
  font-family: var(--font-family-roboto);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  outline: none;
  border: none;
}

.title {
  color: var(--color-secondary-highlight);
  font-weight: 700;
  position: relative;
}

.title::before {
  position: absolute;
  display: block;
  content: '_____';
  color: transparent;
  text-decoration: underline;
  text-decoration-thickness: calc(3px);
  text-underline-offset: 1rem;
  text-decoration-color: #2cb1bc;
}

.subtitle {
  padding: 1rem 0 0 0;
  color: var(--color-secondary-inverted);
}
