.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 64px;
  position: relative;
  background-color: var(--color-tertiary-muted);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  border: 1px solid #e1e1e1;
  gap: 2rem;
  background-color: var(--color-base-white);
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* ------------------------------ card patient ------------------------------ */

.patient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 14px;
}

.avatar {
  border-radius: 50%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* ---------------------------------- table --------------------------------- */

.tableContainer {
  padding: 0 24px;
}

/* ------------------------------- responsive ------------------------------- */

@media (min-width: 764px) {
  .tableContainer {
    padding: 0 64px;
  }

  .searchContainer {
    justify-content: space-between;
    padding: 0 64px;
  }

  .buttonsContainer {
    display: flex;
    gap: 10px;
  }
}
