.select {
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-base);
  width: 100%;
  border-radius: var(--border-radius-sm);
  outline: none;
  border: none;
  border: 2px solid var(--color-tertiary-inverted);
  color: var(--color-gray-500);
  background-color: var(--color-base-white);
  font-style: normal;
}

.select::placeholder {
  color: var(--color-tertiary-inverted);
}

.select:disabled {
  background-color: var(--color-gray-100);
}

.md {
  padding: 16px 24px;
}

.sm {
  padding: 12px 24px 12px 12px;
}

.xs {
  padding: 8px 24px 8px 12px;
}

/** Length */
.short {
  min-width: 200px;
}

.regular {
  min-width: 400px;
}

.long {
  min-width: 600px;
}

/* --------------------------------- design --------------------------------- */

.primary {
  border-radius: var(--border-radius-sm);
  border: none;
  border: 2px solid var(--color-tertiary-inverted);
  background-color: var(--color-base-white);
  font-style: normal;
  font-size: var(--font-size-base);
}

.primary::placeholder {
  color: var(--color-tertiary-inverted);
}

.tertiary {
  border: none;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0;
  font-size: 20px;
}

.tertiary::placeholder {
  color: var(--color-primary-muted);
  font-weight: 700;
  font-size: 16px;
}
