/** list */

.list {
  position: relative;
  display: grid;
  flex-direction: row;
  list-style: none;
  padding-right: 10px;
  gap: 1px;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  overflow-y: scroll;
}
