.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  background-color: var(--color-base-white);
  border: 1px solid var(--color-secondary);
  gap: 8px;
}

.container h4 {
  color: var(--color-primary);
  font-weight: 500;
  text-transform: capitalize;
}

.container ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px 0;
}
