.iconLabel {
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 1.25rem;
  border-bottom: 1px solid var(--color-gray-300);
  padding: 1rem 0;
}

.isClickable {
  cursor: pointer;
}

.icon {
  cursor: pointer;
  padding: 0 0.5rem;
  align-self: center;
}

.label {
  color: var(--color-gray-600);
}

.icon:hover {
  color: var(--color-primary);
}

.light {
  color: var(--color-gray-600);
}

.dark {
  color: var(--color-base-white);
}

.none-light {
  color: var(--color-gray-600);
}

.none-dark {
  color: var(--color-base-white);
}

.info-light {
  color: var(--color-info);
}

.warning-light {
  color: var(--color-warning);
}

.error-light {
  color: var(--color-error);
}

.success-light {
  color: var(--color-success);
}

.warning-dark {
  color: var(--color-warning);
}

.error-dark {
  color: var(--color-error);
}

.success-dark {
  color: var(--color-success);
}

.info-dark {
  color: var(--color-info);
}
