.input {
  font-family: var(--font-family-roboto);
  color: var(--color-primary);
  width: 100%;
  outline: none;
}

.input:disabled {
  background-color: var(--color-secondary);
}

.md {
  padding: 16px 16px;
}

.sm {
  padding: 8px 8px 8px 8px;
}

.xs {
  padding: 8px 8x 8px 8px;
}

/** Length */
.short {
  min-width: 200px;
}

.regular {
  min-width: 400px;
}

.long {
  min-width: 600px;
}

/* --------------------------------- design --------------------------------- */

.primary {
  border-radius: var(--border-radius-xs);
  border: none;
  border-bottom: 2px solid var(--color-primary);
  border-left: 4px solid var(--color-primary);
  background-color: var(--color-secondary);
  font-style: normal;
  font-size: var(--font-size-base);
}

.primary::placeholder {
  color: var(--color-tertiary);
}

.secondary {
  border: none;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0;
  font-size: 20px;
}

.secondary::placeholder {
  color: var(--color-primary-muted);
  font-weight: 700;
  font-size: 16px;
}

.tertiary {
  border: none;
  font-size: 20px;
}

.tertiary::placeholder {
  color: var(--color-primary-muted);
  font-weight: 700;
  font-size: 16px;
}
