/* General styles end */

.container {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggler {
  display: none;
}

.burger {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  cursor: pointer;
}

.bun {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 9px;
  transition: transform 0.18s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.15s;
}

.bunCrust {
  position: absolute;
  display: block;
  width: 17px;
  height: 2px;
  background-color: var(--color-sky-400);
  border-radius: 1px;
  left: 7px;
  transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.2s;
  scale: 1.35;
}

.bunCrustTop {
  top: 14px;
  transform: translateY(-3px);
}

.bunCrustBottom {
  bottom: 14px;

  transform: translateY(3px);
}

.toggler:checked + .burger .bunTop {
  transform: rotate(45deg);
}

.toggler:checked + .burger .bunBottom {
  transform: rotate(-45deg);
}

.toggler:checked + .burger .bunCrustTop,
.toggler:checked + .burger .bunCrustBottom {
  transform: none;
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
