.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--color-base-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 14px;
  color: var(--color-font-base);
}

.container h5 {
  font-weight: 600;
}

.container span:last-child {
  text-align: end;
}
