.container {
  display: flex;
  flex-direction: column;
}

.addButton {
  background: #ffffff;
  width: 64px;
  height: 64px;
  border: 1px dashed var(--color-tertiary-inverted);
  border-radius: 10px;
}

.icon {
  width: 32px;
  height: 32px;
  color: var(--color-tertiary-inverted);
}

.container span {
  color: var(--color-secondary-inverted);
  padding: 4px;
  font-size: 12px;
}
