.container {
  display: flex;
  gap: 40px;
  /* background: #f3f4f6; */
  /* padding: 60px; */
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.subtitle {
  max-width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-primary-highlight);
}

.elements {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #bbb;
  padding: 4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
