/* Combobox */
.combobox {
  font-family: var(--font-family-roboto);
}

/* ComboboxLabel */
.label {
  display: block;
  font-size: 0.875rem; /* equivalent to Tailwind's text-sm */
  font-weight: 500; /* equivalent to Tailwind's font-medium */
  color: #4b5563; /* equivalent to Tailwind's text-gray-700 */
}

.container {
  position: relative; /* equivalent to Tailwind's relative */
  margin-top: 0.25rem; /* equivalent to Tailwind's mt-1 */
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  outline: none; /* equivalent to Tailwind's focus:outline-none */
  background-color: transparent;
  border: none;
}

.button:hover .icon {
  color: #818188;
}

.icon {
  height: 1.25rem; /* equivalent to Tailwind's h-5 */
  width: 1.25rem; /* equivalent to Tailwind's w-5 */
  color: #a1a1aa; /* equivalent to Tailwind's text-gray-400 */
}

/* ComboboxInput */
.input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  background-color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input:focus {
  border-color: #6366f1;
  outline: none;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.5);
}

/* ComboboxDropdown */
.dropdown {
  position: absolute;
  z-index: 10;
  margin-top: 0.25rem;
  max-height: 15rem;
  width: 100%;
  overflow-y: auto;
  border-radius: 0.375rem;
  background-color: #fff;
  padding: 0.25rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* ComboboxOption */
.option {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  user-select: none;
  padding: 0.5rem 1rem 0.5rem 1.5rem;
  color: #1f2937;
}

.option:active,
.option:hover {
  background-color: #6366f1;
  color: #fff;
}

.option::selection {
  font-weight: 600;
}

.option.selected::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 0.75rem;
  height: 0.75rem;
  background-color: #6366f1;
  border-radius: 0.375rem;
  display: inline-block;
}

.selected {
  font-weight: 600; /* equivalent to Tailwind's font-semibold */
}

.check {
  color: #4f46e5; /* equivalent to Tailwind's text-indigo-600 */
}

.option:hover .check {
  color: #fff; /* equivalent to Tailwind's text-white */
}
