/* ---------------------------- dashboard layout ---------------------------- */

.dashboard {
  position: relative;
  transition: background-color 0.5s ease-in-out;
  font-family: var(--font-family-roboto);
  height: 100%;
}

/* -------------------------------- container ------------------------------- */

.container {
  display: grid;
  grid-template-columns: 65px 1fr;
  background-color: transparent;
  height: 100%;
}

.main {
  width: 100%;
  grid-column-start: 2;
}

/* ---------------------------------- items --------------------------------- */

.colorSky {
  color: var(--color-secondary);
}

/* ---------------------------------- items --------------------------------- */

.group {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-left: 4px solid transparent;
  color: var(--color-secondary);
}

.group:hover,
.group:active {
  border-left: 4px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.group:hover .colorSky {
  color: var(--color-primary);
}

.logout {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-left: 4px solid transparent;
  color: var(--color-secondary);
  bottom: 0;
  position: absolute;
}

.item {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  font-size: 1.5rem;
}
.link {
  text-indent: 0.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: var(--font-size-base);

  white-space: nowrap;
  letter-spacing: 0.15px;
}
