/* -------------------------------- container ------------------------------- */

.container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 200px);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Standard */
  border: 1px solid var(--color-secondary);
}

/* ------------------------------- weeklyHeader ------------------------------- */

.weeklyHeader {
  display: flex;
  text-align: center;
}

.weeklyHeader span {
  flex: 1;
  color: var(--color-primary);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-base);
  padding: 1rem 0;
  border: 1px solid var(--color-secondary);
}

.weeklyHeader span:first-child,
.weeklyHeader span:last-child {
  color: var(--color-primary);
}

/* ------------------------------- day header ------------------------------- */

.dayLong {
  display: none;
}

/* ----------------------------- week container ----------------------------- */

.weekContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 130px;
}

/* --------------------------------- weekday -------------------------------- */

.weekday {
  font-family: var(--font-family-roboto);
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 0;
  background: var(--color-base-white);
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-secondary);
  border-radius: 2px;
  border-collapse: collapse;
  box-sizing: border-box;
  color: var(--color-primary);
}

.weekday div {
  display: flex;
  flex-direction: column;
}

/* --------------------------------- weekend -------------------------------- */

.weekend {
  background-color: var(--color-base-white);
  border: 1px solid var(--color-secondary);
  color: var(--color-primary);
}

/* ---------------------------------- today --------------------------------- */

.today {
  font-weight: 600;
  color: var(--color-base-white);
  background-color: var(--color-primary);
}

.today:hover {
  background-color: var(--color-font-base);
  color: var(--color-primary);
}

/* ----------------------------------- day ---------------------------------- */

.day {
  position: relative;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  justify-self: center;
  align-self: flex-end;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 600;
}

/* -------------------------------- indicator ------------------------------- */
.indicator {
  color: var(--color-base-white);
  background-color: var(--color-primary);
}

/* ------------------------------ media queries ----------------------------- */

@media (min-width: 640px) {
  .dayLong {
    display: block;
  }
  .dayShort {
    display: none;
  }
}

@media (max-width: 990px) {
  .weekContainer {
    grid-template-rows: 80px;
  }
}
