/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.12);
}

/* Modal Content/Box */
.content {
  width: max-content;
  position: relative;
  display: grid;
  justify-content: space-evenly;
  background-color: #fdfcfd;
  padding: 2rem;
  border: 1px solid rgb(206, 206, 206);
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: auto;
  overflow-y: auto;
  box-shadow: 0px 0px 2px 0px rgb(0, 0, 0, 0.25);
}

.center {
  margin: auto;
  border-radius: var(--border-radius-sm);
}

.right {
  margin-left: auto;
}

/* The Close Button */
.close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: 0.5rem;
  right: 1rem;
  border: none;
  background-color: transparent;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
