.container {
  width: 250px;
  min-width: 100%;
  overflow-x: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* ---------------------------------- table --------------------------------- */

.table {
  border-spacing: 0;
  width: 100%;
  padding: 0.5rem;
  position: relative;
  border-collapse: separate;
  background: var(--color-base-white);
  border: 1px solid var(--color-secondary);
}

.table tbody tr:hover:not(.empty) {
  outline: 2px solid var(--color-secondary);
  outline-offset: 0px;
  border-collapse: none;
  text-shadow: 0px 0px 0px rgba(32, 86, 126, 0.5);
}

/* .table tr:hover td {
  color: var(--color-primary);
} */

.table tr:hover:not(.empty) td:first-child {
  border-left: 8px solid var(--color-secondary);
  transition: border 0.15s;
}

.table tr td:first-child,
.table tr th:first-child {
  border-left: 8px solid transparent;
  transition: border 0.15s;
}

.th {
  /* text-indent: 1rem; */
  text-align: left;
  padding: 12px 0;
  border-bottom: 2px solid var(--color-secondary);
  white-space: nowrap;
  font-size: var(--font-size-base);
  font-family: var(--font-family-roboto);
  color: var(--color-font-base);
}

.th span:first-child {
  text-transform: capitalize;
  font-weight: 500;
}

.td {
  /* text-indent: 1.5rem; */
  font-family: var(--font-family-roboto);
  color: var(--color-font-base);
  min-width: 60px;
  height: 64px;
  text-align: left;
  padding: 0;
  border-collapse: collapse;
  border-bottom: 1px solid var(--color-secondary);
  white-space: nowrap;
  font-size: var(--font-size-base);
}

.headStyles {
  display: flex;
  justify-content: space-between;
}

.bodyTable {
  background: var(--color-base-white);
}

/* -------------------------- scroll kit container -------------------------- */

.container::-webkit-scrollbar {
  width: 20px; /* Ancho del scrollbar */
  height: 14px; /* Altura del scrollbar */
  background-color: var(--color-tertiary); /* Color del fondo del scrollbar */
  border-radius: 10px; /* Radio de la esquina del scrollbar */
  border: none;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary); /* Color del thumb del scrollbar */
  border-radius: 10px; /* Radio de la esquina del thumb del scrollbar */
}

.container::-webkit-scrollbar-track {
  background-color: var(--color-tertiary); /* Color del track del scrollbar */
  border-radius: 10px; /* Radio de la esquina del track del scrollbar */
}
