/** cell */

.cell {
  position: relative;
  width: 100px;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #d9e2ec;
  cursor: pointer;
}

/** weekend */

.weekend {
  background-color: #f9f9f9;
}
