.div {
  background-color: var(--color-tertiary-muted);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.node {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  position: relative;
  gap: 20px;
}

.name {
  width: 150px;
  padding: 20px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

/* .line {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 50px;
    width: 1px;
    background-color: var(--color-secondary);
  }
  .line::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ddd;
  }
  .line::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ddd;
  } */

/* ------------------------------ burble person ----------------------------- */

.burble {
  font-size: 28px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #d9e2ec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pronoun {
  color: var();
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 0 6px;
}

.patient {
  color: var(--color-primary);
  background-color: var(--color-tertiary-muted);
}

.family {
  color: var(--color-secondary-muted);
  background-color: var(--color-tertiary-muted);
}

.sick {
  color: var(--color-secondary-muted);
  background-color: var(--color-tertiary-muted);
}

/* --------------------------------- MyTree --------------------------------- */

.parent {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: flex-start;
  align-items: center;
}

.parentNode {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.child {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.myNode {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  gap: 20px;
  padding: 40px 0 0 0;
}

.newNode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.newParentNode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
