/** container */

.container {
  width: 100%;
  height: 100%;
}

/** navigation */

.navigation {
  display: flex;
  padding: 0 0 1rem 0;
  min-height: 80px;
  align-items: center;
}

.navigation h3::first-letter {
  text-transform: uppercase;
}

/** period */

.period {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 4px;
  border-radius: 20px 20px 20px 20px;
  background-color: var(--color-tertiary-muted);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-secondary-muted);
}

.period span {
  text-align: center;
  padding: 0.5rem 1rem;
  font-family: var(--font-family-roboto);
  border-radius: 20px;
  color: var(--color-secondary);
  cursor: pointer;
}

.period span:hover {
  background-color: var(--color-tertiary-muted);
}

/** timer */

.actions {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.timer h2 {
  font-family: var(--font-family-roboto);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: center;
  color: var(--color-secondary-highlight);
}

.timer h2::first-letter {
  text-transform: capitalize;
}

.buttonToday {
  display: flex;
  align-items: center;
}

.buttonToday button {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  line-height: 0;
  color: var(#073052);
  background-color: var(--color-tertiary-muted);
}

.buttonToday button:hover {
  background-color: var(--color-tertiary-muted);
}

.buttonToday span {
  font-family: var(--font-family-roboto);
  padding: 0 1rem;
  color: var(#073052);
}

/* ----------------------------- actions mobile ----------------------------- */

.actionsMobile {
  display: flex;
  padding: 0 10px;
  justify-self: flex-start;
}

@media screen and (min-width: 1000px) {
  .navigation {
    justify-content: space-between;
  }
  .actions {
    display: flex;
  }

  .actionsMobile {
    display: none;
  }
}
