.container {
  display: flex;
  /* width: 100%; */
  /*
  height: 100%; */
  padding: 20px 15px;
}

.isCentered {
  justify-content: center;
}

.isPlayground {
  border: var(--border-width-thick) dashed var(--color-primary);
}
