.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 50%;
  border-radius: var(--border-radius-sm);
  padding: 0 8px;
  background-color: var(--color-base-white);
}

.input::placeholder {
  color: var(--color-primary);
}

.input {
  font-family: var(--font-family-roboto);
  width: 100%;
  border: none;
  background: none;
  font-size: 1.1rem;
  transition: 0.5s ease;
  line-height: 40px;
  outline: none;
}

.icon {
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  font-size: 1.3rem;
  border-radius: var(--border-radius-xs);
  color: var(--color-base-white);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s;
}

.input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-size: 10px 10px;
}

@media (max-width: 764px) {
  .input {
    font-size: 14px;
  }
}
