.container {
  position: absolute;
  padding: 10px;
}
.options {
  outline: transparent;
  border: none;
  cursor: pointer;
  color: var(--color-secondary-inverted);
  transition: color 0.2s ease-in-out;
  position: relative;
  padding: 4px;
  border-radius: 50%;
}

.options:hover,
.options:focus {
  color: var(--color-primary);
}

.menu {
  position: absolute;
  right: -20px;
  top: 20px;
  width: 120px;
  background-color: var(--color-tertiary-muted);
  border: 0.0625rem solid #000;
  outline: none;
}

.menu:focus {
  box-shadow: 0 0 0 0.125rem #000, 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

/* ComboboxDropdown */
.menu {
  position: absolute;
  z-index: 10;
  margin-top: 0.25rem;
  max-height: 15rem;
  overflow-y: auto;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-tertiary-muted);
  padding: 0.25rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

/* ComboboxOption */
.option {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  user-select: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: var(--color-font-base);
}

.option:active,
.option:hover {
  background-color: var(--color-secondary);
  color: var(--color-font-inverted);
}

.option::selection {
  font-weight: 600;
}

.option.selected::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--color-secondary);
  border-radius: 0.375rem;
  display: inline-block;
}

.selected {
  font-weight: 600; /* equivalent to Tailwind's font-semibold */
}
